<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @record.course %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @record.distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @record.time %>
</p>

<p>
  <strong>Pace:</strong>
  <%= @record.pace %>
</p>

<p>
  <strong>Type:</strong>
  <%= @record.type %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
